apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-helm-app.fullname" . }}
spec:
  selector:
    app: go-app
  ports:
    - protocol: TCP
      port: 80       
      targetPort: 8080  
  type: ClusterIP      
